.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
venv/
Problembeschreibung.html

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!bin/
**/__pycache__/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

ba.aux
ba.bbl
ba.bcf
ba.blg
ba.lol
ba.lof
ba.log
ba.lot
ba.out
ba.run.xml
ba.toc
einleitung.log
imports.log